.SelectInput{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  align-items: center;
  margin-bottom: 10px;
  label{
    span{
      color: red;
      transition: all 0.2s ease-in-out;
    }
    transition: all 0.2s ease-in-out;
  }
  &.disabled{
    .select__head{
      border-color: #f2f2f3;
      color: #f2f2f3;
    }
    label{
      color:#dfdfdf;
      span{
        color:#f9dcda;
      }
    }
  }
  .select{
    flex: 0 1 50%;
    margin-left: 10px;
    &:hover{
      cursor: pointer;
    }
    &__head{
      padding: 5px 10px;
      background-color: #fff;
      border: 1px solid #d0d2d3;
      transition: all 0.2s ease-in-out;
      color: #d0d2d3;
      
    }
    ul{
      display: none;
      li{
        padding: 5px;
      }
    }
    &.open{
      .select__head{
        border-bottom: none;
        border-color:#1aa8eb;
      }
      position: relative;
      ul{
        z-index: 1;
        display: block;
        position: absolute;
        background-color: #fff;
        width: 100%;
        border-left:1px solid #1aa8eb;
        border-right:1px solid #1aa8eb;
        border-bottom:1px solid #1aa8eb;
      }
    }
  }
}