@keyframes load-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SelectInput{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  align-items: center;
  margin-bottom: 10px;
  .update_svg{
    &.load{
      animation: load-rotate infinite 3s linear;
    }
    path{
      fill: #333;
      transition: all 0.2s ease-in-out;
    }
    &:hover{
      cursor: pointer;
      & path{
        fill:#1aa8eb;
      }
    }
  }
  label{
    span{
      color: red;
      transition: all 0.2s ease-in-out;
    }
    transition: all 0.2s ease-in-out;
  }
  &.disabled{
    .update_svg{
      path{
        fill: #d0d2d3;
      }
      &:hover{
        cursor: default;
      }
    }
    .select__head{
      border-color: #f2f2f3;
      color: #f2f2f3;
    }
    label{
      color:#dfdfdf;
      span{
        color:#f9dcda;
      }
    }
  }
  .select{
    flex: 0 1 50%;
    margin-left: 10px;
    &:hover{
      cursor: pointer;
    }
    &__head{
      padding: 5px 10px;
      background-color: #fff;
      border: 1px solid #d0d2d3;
      transition: all 0.2s ease-in-out;
      color: #333;
      .placeholder{
        color: #d0d2d3;
      }      
    }
    ul{
      display: none;
      position: absolute;
      background-color: #fff;
      border-left:1px solid #1aa8eb;
      border-right:1px solid #1aa8eb;
      border-bottom:1px solid #1aa8eb;
      width: 100%;
      transition: all 0.2s ease-in-out;
      li{
        padding: 10px;
        transition: all 0.1s ease-in-out;
        &:hover{
          background-color: #1aa8eb;
          color:#fff;
        }
      }
    }
    &.open{
      .select__head{
        border-color:#1aa8eb;
        border-bottom: 1px solid rgba(255,255,255,0);
      }
      position: relative;
      ul{
        z-index: 1;
        display: block;
      }
    }
  }
}

